.search{
    max-width: 1200px;
    width: 50%;
    height: 2rem;
    border: 1px solid rgb(143, 207, 236);
    border-radius: 5px;
    margin: 10px;
}

.searchContainer{
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}