.search{
    max-width: 1200px;
    width: 50%;
    height: 2rem;
    border: 1px solid rgb(143, 207, 236);
    border-radius: 5px;
    margin: 10px;
}

.searchContainer{
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Pacifico', cursive !important;
    font-weight: 900 !important;
    color: rgb(255, 0, 128);
}


.filter div{
    cursor: pointer;
    padding: 10px;
    border: 1px solid rgb(231, 238, 241);
    border-radius: 5px;
    margin: 10px;
}

.addButton{
    cursor: pointer;
    padding: 10px;
   border: 1px solid rgb(231, 238, 241);
    border-radius: 5px;
    margin: 10px;
  border: 1px solid rgb(231, 238, 241);
}

select{
    cursor: pointer;
    padding: 10px;
 border: 1px solid rgb(231, 238, 241);
    border-radius: 5px;
    margin: 10px;
}

