.table-container {
  max-width: 1220px;
  margin: 0 auto;
  
}

.table {
  width: 100%;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
    thead{
        font-family: 'Pacifico', cursive !important;
    font-weight: 900 !important;
    color: white;
    margin: 0;
    padding: 0;
    background-color:   #0F828C;
    }
}
